html, body {
  height: 100vh;
}

#root {
  height: 100%;
}

.project-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  //background-color: #222;
}

.binding-dialog {
  //background-color: #eee;
  //box-shadow: 2px 2px 4px #333;
  //filter: drop-shadow(2px 2px 3px #555);
  //border-radius: 6px;

  //h1.binding-dialog-header {
  //  text-align: center;
  //  background-color: #666;
  //  color: black;
  //}
}

.header {
  display: grid;
  grid-template-columns: 1fr 380px 1fr;
  background-color: #111;

  .MuiTab-root {
    color: gray;

    &.Mui-selected {
      color: white;
      border-color: white;
    }
  }

  .project-name-input {
    margin-bottom: 5px;
    margin-left: 12px;
    margin-right: 24px;
    //width: 100%;
    justify-content: left;
    display: flex;

    //border-bottom: 1px solid #666;

    .MuiFormLabel-root, .MuiInputLabel-root {
      font-weight: 500;
      font-size: 12pt;
      color: #ddd;
    }

    .MuiInputBase-root {
      font-weight: bold;
      font-size: 12pt;
      color: #eee;
      width: 100%;

      input {
        width: 100%;
        padding: 0;
        text-align: left;

        &::selection {
          background-color: royalblue;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #111;
  padding: 8px;
}

.gutter {
  //background-color: darkslategray;
  //min-width: 400px
}

.controller-pane {
  margin-left: 16px;
  margin-right: 16px;

  display: grid;
  grid-template-columns: minmax(400px, 1fr) 4fr minmax(400px, 1fr);

  transition-timing-function: ease-in-out;
  transition: 0.5s;

  @media screen and (max-width: 1250px) {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .gutter-left {
      display: none;
    }
  }
}

.controller-svg-wrapper {
  margin-right: 16px;
  margin-left: 16px;
}

.controller-center {
  margin-top: 20px;
}

.controller-svg {
  width: 100%;
  height: 100%;
  min-width: 400px;
  max-width: 80vw;
  max-height: calc(100vh - 200px);

  .controller-button {
    &.selected {
      .icon {
        stroke: #111;
      }

      .icon-solid {
        fill: #111;
      }

      .outline {
        stroke: #333;
        fill: crimson;
      }
    }

    .icon, .outline {
      transition: 0.1s;
      transition-timing-function: ease-in-out;
    }

    --icon-color: #ececec;

    .icon {
      fill: none;
      stroke: var(--icon-color);
    }

    .icon-solid {
      fill: var(--icon-color);
    }

    .outline {
      fill: transparent;
      stroke: red;
    }

    &:hover {
      cursor: pointer;

      .outline {
        stroke: red;
      }

      .icon {
        stroke: red;
      }

      .icon-solid {
        fill: red;
      }
    }
  }
}

.button-node {
  fill: rgba(100, 100, 255, 0.9);
  //background-color: orange;
  transform: translateX(-50%) translateY(-50%);
  //stroke: #338;
  //stroke-width: 2px;

  circle:hover {
    fill: rgba(200, 200, 255, 1);
    box-shadow: 2px 2px 4px #333;
    cursor: pointer;
  }
}

.controller-center {
  width: 100%;
  height: 100%;
  position: relative;
}

img.controller-image {
  max-width: 100%;
  max-height: 100%;
  //max-width: min(100%, 1000px);
}

div.gutter {
  //display: "flex";
  //flex-direction: column;
  //justify-items: center;
}

.command-select {
  min-width: 140px;
}

.subsystems {
  display: flex;
  flex-direction: column;
  //gap: 8px;
  justify-content: center;

  .subsystem-pane {
    background-color: #f7f7f7;

    .subsystem-lane {
      display: flex;
      flex-direction: row;
      gap: 8px;
      margin: 1em 0;
      padding: 0 1em;

      & > h3 {
        width: 6em;
      }

      .subsystem-lane-items {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .subsystem-lane-item {
          //height: 80px;
          //width: 80px;
          padding: 1em;
          //background-color: red;
          //border-radius: 4px;
        }
      }
    }
  }
}

.code-preview {
  font-family: "monospace";
}

.subsystem-name {
  margin: 0 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: mediumslateblue;
}

.subsystem-action-name {
  margin: 0 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: forestgreen;
}

.subsystem-state-name {
  margin: 0 8px;
  font-weight: bold;
  text-transform: uppercase;
  color: seagreen;
}

.create-command-dialog {
  .content {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .subsystem-heading {
    }

    .action-heading {
      .action-select {
        margin: 0 8px;
      }
    }
    .state-heading {
      .state-select {
        margin: 0 8px;
      }
    }
  }
}

.action-param {
  display: grid;
  grid-template-columns: 1fr 6em 2em;
}

.commands {
  padding: 16px 0;
  height: 100%;

}

.sequential-group-editor {
  background-color: #222
}

.sequential-group-title {
  color: white;
  font-weight: bold;
  font-size: 14pt;
  padding-left: 20px;
}

.sequential-group-editor-commands {
  display: flex;
  flex-direction: row;
  gap: 18px;
  padding: 8px 16px;
  border-bottom: 2px solid #111;

  .parallel-group-editor {
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 200px;
    gap: 2px;

    .command-drop-target {
      width: 100%;
      height: 30px; // mui likes to subtract 10 pixels for SOME REASON
      //margin-top: 8px;
      background-color: #1f1f1f;
      padding: 4px;
      border-radius: 4px;
      border: 1px dashed #444;

      color: #666;
    }
  }

  .group-header {
    margin-bottom: 5px;
    width: 100%;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #666;

    .MuiFormLabel-root, .MuiInputLabel-root {
      font-weight: 500;
      font-size: 12pt;
      color: #ddd;
    }

    .MuiInputBase-root {
      font-weight: bold;
      font-size: 12pt;
      color: #eee;
      width: 100%;

      input {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }

  .command-tile {
    //width: 100%;
    height: 20px;
    display: flex;
    justify-content: left;
    padding: 8px;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    .command-title {
      margin-bottom: 0;
      color: #111;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.full-group-entry {
      background-color: #FF7F00;
      //background: linear-gradient(to bottom, #c00, #4b3817);
    }

    &.racer-group-entry {
      background-color: #007900;
      //background: linear-gradient(to bottom, #31bf31, #007900);
      // TODO: Make the right end pointed
    }

    &.leader-group-entry {
      background-color: #FF7F00;
      //background: linear-gradient(to bottom, #fff17e, #788613);
      display: flex;
      flex-direction: row;
      padding-left: 0;

      .leader-icon {
        margin: 0 4px;
        width: 20px;
        height: 100%;
        fill: gold;
      }
    }

    &.follower-group-entry {
      //background: linear-gradient(to bottom, #31bf31, #007900);
      background-color: #007900;
      margin-left: 20px;
      // TODO: Make the right end pointed
    }
  }
}
